<!-- Modal Informatica-->
<div class="modal fade" id="informaticaModal" tabindex="-1" aria-labelledby="informaticaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="informaticaModalLabel">Informática Básica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <p>Aqui você pode conferir todos os modulos dos cursos de Informática Básica...</p>

        </div>
  
<!--Inicio modulo -->
        <div class="container w3-white" style="padding:10px" id="windows">
          <div class="row">
            <div class="col-3 icons-div" style="text-align: center;">
              <img class="icons-modal img-fluid" src="static\home\modal\windows.png" alt="Windows" >
            </div>
            <div class="col-9">
              <h6>Noções do Windows</h6>
              <p>Aprenda a utilizar de forma mais eficaz o sistema operacional mais popular no mundo.</p>
            </div>
          </div>
        </div>
  <!-- fim modulo -->
  


  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="internet">
    <div class="row">
       <div class="col-3 icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\chrome.png" alt="Buildings"  title=”Microsoft-Excel>
      </div>
      <div class="col-9">
        <h6>Internet</h6>
        <p>Realize pesquisas sobre os seus assuntos favoritos, solicite a segunda via de faturas e boletos, crie contas de e-mail e redes sociais. Conecte-se!</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="Digitação">
    <div class="row">
       <div class="col-3 icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\digitacao.png" alt="Buildings"  title=”Microsoft-Excel>
      </div>
      <div class="col-9">
        <h6>Noções de Teclado</h6>
        <p>O posicionamento correto das mãos sobre o teclado e a postura certa serão fundamentais para que você ganhe velocidade ao digitar textos ou até mesmo um bate-papo on-line, com o mínimo de erros possíveis!</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="Aplicativos">
    <div class="row">
       <div class="col-3 icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\apps.png" alt="Buildings"  title=”Microsoft-Excel>
      </div>
      <div class="col-9">
        <h6>Aplicativos</h6>
        <p>Faça a compactação de seus arquivos e envie de uma vez só via e-mail. </p>
        <p>Utilize um anti-vírus para verificar seus pendrives. Armazene dados nas nuvens. Aprenda essas e outras atividades que encontramos diariamente em nossas atividades!</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Modal Informatica Profissional-->
<div class="modal fade" id="informaticaProfissionalModal" tabindex="-1" aria-labelledby="informaticaProfissionalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="informaticaProfissionalModalLabel">Informática Profissional</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <p>Aqui você pode conferir todos os modulos dos cursos da Informática Profissional...</p>

        </div>
  
<!--Inicio modulo -->
        <div class="container w3-white" style="padding:10px" id="windows">
          <div class="row">
            <div class="col-3 icons-div" style="text-align: center;">
              <img class="icons-modal img-fluid" src="static\home\modal\windows.png" alt="Windows" >
            </div>
            <div class="col-9">
              <h6>Microsoft Windows</h6>
              <p>Aprenda a utilizar de forma mais eficaz o sistema operacional mais popular no mundo.</p>
            </div>
          </div>
        </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="word">
    <div class="row">
      <div class=" col-3 icons-div icons-div" >
        <img class="icons-modal img-fluid" src="static\home\modal\word.png" alt="Word"  >
      </div>
      <div class="col-9">
        <h6>Microsoft word</h6>
        <p>Um trabalho escolar ou acadêmico, um contrato ou um documento qualquer da sua empresa, dentre outras milhares de aplicações para esta ferramenta.</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="excel">
    <div class="row">
      <div class="col-3 icons-div icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\excel.png" alt="Windows" >
      </div>
      <div class="col-9">
        <h6>Microsoft Excel</h6>
        <p>Organize os dados contábeis e financeiros do seu escritório ou até mesmo da sua casa com planilhas e cálculos simples e avançados.</p>
         </p>
              
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="powerpoint">
    <div class="row">
      <div class="col-3 icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\powerpoint.png" alt="Buildings"  title=”Microsoft-Excel>
      </div>
      <div class="col-9">
        <h6>Microsoft Power Point</h6>
        <p>Impressione os seus chefes ou professores exibindo seus projetos em apresentações de slides espetaculares!</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  
<!--Inicio modulo -->
    <div class="w3-container w3-white" style=  "padding:10px" id="publisher">
        <div class="row">
            <div class="col-3 icons-div">
            <img class="icons-modal img-fluid" src="static\home\modal\publisher.png" alt="Buildings"  title=”Microsoft-Excel>
        </div>
        <div class="col-9">
            <h6>Microsoft Publisher</h6>
            <p>Faça você mesmo os panfletos, cartazes, diagramação de jornais e revistas e criação de cartões de visita para a propaganda da sua empresa, festa ou evento.</p>
        </div>
        </div>
    </div>
<!-- fim modulo -->

    <!--Inicio modulo -->
    <div class="container white" style=  "padding:10px" id="access">
        <div class="row">
            <div class="col-3 icons-div">
                <img class="icons-modal img-fluid" src="static\home\modal\access.png" alt="Buildings" title=”Microsoft-Access>
            </div>
        <div class="col-9">
            <h6>Microsoft Access</h6>
            <p>Utilize o Access para o cadastro de clientes, fornecedores e estoques de forma prática e eficiente.</p>
            <p>Era só o que você precisava para tornar os seus dados ainda mais organizados!</p>
        </div>
    </div>
    </div>
    <!-- fim modulo -->

  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="internet">
    <div class="row">
       <div class="col-3 icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\chrome.png" alt="Buildings"  title=”Microsoft-Excel>
      </div>
      <div class="col-9">
        <h6>Internet</h6>
        <p>Realize pesquisas sobre os seus assuntos favoritos, solicite a segunda via de faturas e boletos, crie contas de e-mail e redes sociais. Conecte-se!</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="Digitação">
    <div class="row">
       <div class="col-3 icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\digitacao.png" alt="Buildings"  title=”Microsoft-Excel>
      </div>
      <div class="col-9">
        <h6>Digitação</h6>
        <p>O posicionamento correto das mãos sobre o teclado e a postura certa serão fundamentais para que você ganhe velocidade ao digitar textos ou até mesmo um bate-papo on-line, com o mínimo de erros possíveis!</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="Aplicativos">
    <div class="row">
       <div class="col-3 icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\apps.png" alt="Buildings"  title=”Microsoft-Excel>
      </div>
      <div class="col-9">
        <h6>Aplicativos</h6>
        <p>Faça a compactação de seus arquivos e envie de uma vez só via e-mail. </p>
        <p>Utilize um anti-vírus para verificar seus pendrives. Armazene dados nas nuvens. Aprenda essas e outras atividades que encontramos diariamente em nossas atividades!</p>
      </div>
    </div>
  </div>
  <!-- fim modulo -->
  
  
  

  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</div>





<!-- Modal Excel Avançado-->
<div class="modal fade" id="excelModal" tabindex="-1" aria-labelledby="excelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="excelModalLabel">Excel Avançado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <p>Aqui você pode conferir o conteúdo do curso de Excel Avançado...</p>
        

        </div>
  

  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="excel">
    <div class="row">
      <div class="col-3 icons-div icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\excel.png" alt="Windows" >
      </div>
      <div class="col-9">
        <h6>Excel Avançado (sem VBA)</h6>
        <p>EXCEL AVANÇADO (SEM VBA):  Introdução, Apresentação de tela, Planilhas (criar, duplicar, mover, formatar, salvar e imprimir); Auto formatação condicional, Inserção de comentários, Inserção de nomes, Cálculos; Aplicação de formulas e funções, Impressão de planilhas. Definição da área a ser impressa; Proteção de Planilhas; Gráficos; Tabelas e Gráficos dinâmicos; Filtros; Auto Filtro, Filtro Avançado, Hyperlinks, Macros, Formulários; Classificação de dados, Validação de dados; Ocultando linhas e colunas, Localizando e substituindo valores; Vínculos entre planilhas, Congelando painéis.
        </p>
              
      </div>
    </div>
  </div>
  <!-- fim modulo -->
 
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Modal Desenvolvimento-->

<div class="modal fade" id="desenvolvimentoModal" tabindex="-1" aria-labelledby="desenvolvimentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="desenvolvimentoModalLabel">Desenvolvimento Pessoal e Administrativo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <p>Desenvolva as habilidade pessoais necessárias para a sua carreira profissional decolar!</p>
        <p>Finanças, contratações, obrigações trabalhistas. Aprenda como funciona uma empresa "pelo lado de dentro"!</p>
  
        </div>
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style="padding:10px" id="windows">
      <div class="row">
          <div class="col-3 icons-div icons-div">
              <img class="icons-modal img-fluid" src="static\home\modal\marketing.jpg" alt="Windows" >
    </div>
    <div class="col-9">
      <h6>Marketing Pessoal</h6>
      <p>Você aprenderá a desenvolver habilidades de percepção, convívio social e profissional, liderança e carisma.</p>
    </div>
  </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="word">
  <div class="row">
     <div class="col-3 icons-div icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\entrevista.jpg" alt="Windows" >
    </div>
    <div class="col-9">
      <h6>Entrevista de Seleção</h6>
      <p>O processo de seleção para vagas de emprego, que começa com testes e com a apresentação do currículo, normalmente é finalizado com uma entrevista de seleção.</p>
            <p>Saiba o que deve ou não fazer e como se comportar para aumentar as suas chances!</p>
    </div>
  </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="excel">
  <div class="row">
     <div class="col-3 icons-div icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\atendimento.jpg" alt="Windows" >
    </div>
    <div class="col-9">
      <h6>Atendimento ao Cliente</h6>
      <p>Desenvolva habilidades, conhecimentos e atitudes pessoais e profissionais necessárias para o atendimento ao cliente com qualidade e excelência.</p>
            
    </div>
  </div>
  </div>
  <!-- fim modulo -->
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="powerpoint">
  <div class="row">
     <div class="col-3 icons-div icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\vendas.jpg" alt="Windows" >
    </div>
    <div class="col-9">
      <h6>Técnicas de Vendas</h6>
      <p>Conheça as diversas etapas do processo de venda profissional.</p>
            <p>Saiba com avaliar as necessidades dos clientes e supere as suas expectativas. Vá além da venda. Fidelize o cliente!</p>
    </div>
  </div>
  </div>
  <!-- fim modulo -->
  
  
  <!--Inicio modulo -->
  <div class="w3-container w3-white" style=  "padding:10px" id="publisher">
  <div class="row">
     <div class="col-3 icons-div icons-div">
        <img class="icons-modal img-fluid" src="static\home\modal\telemarketing.jpg" alt="Windows" >
    </div>
    <div class="col-9">
      <h6>Telemarketing</h6>
      <p>Aprenda a fechar uma venda, acalmar e superar as objeções do cliente. Planeje sua argumentação, crie roteiros de abordagem. Saiba escolher diferentes estilos de operação!</p>
    </br>
   </div>
  </div>
  </div>
  <!-- fim modulo -->
  





<!--Inicio modulo -->
<div class="w3-container w3-white" style=  "padding:10px" id="Digitação">
    <div class="row">
        <div class="col-3 icons-div icons-div">
    <img class="icons-modal img-fluid" src="static\home\modal\telecobranca.jpg" alt="Windows" >
  </div>
  <div class="col-9">
    <h6>Telecobrança</h6>
    <p>Conheça técnicas de atendimento e recuperação de clientes inadimplentes de serviços bancários através do telemarketing ativo.</p>
          <p>Esteja preparado na comunicação e desenvolvimento das formas de atendimento e entrevistas ao telefone.</p>
  </div>
</div>
</div>
<!-- fim modulo -->

    </div>
    
  </div>
</div>
<!-- Fim Modal -->

      </div>
    </div>
  </div>
<!-- Fim Curso -->

<!-- Modal Ingles-->
<div class="modal fade" id="inglesModal" tabindex="-1" aria-labelledby="inglesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inglesModalLabel">Inglês Básico e Avançado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
            <p>Aprenda o idioma mais falado no mundo!</p>

        </div>
  


<!--Inicio modulo -->
<div class="w3-container w3-white" style="padding:10px" id="windows">
<div class="row">
    <div class="col-3 icons-div icons-div">
   <img class="icons-modal img-fluid" src="static\home\modal\ingles.png" alt="Windows" >
  </div>
  <div class="col-9">
    <h6>Inglês</h6>
    <p>O inglês é o idioma mais falado no mundo. Está presente em livros, jornais, revistas e até em vídeos, sites e blogs na Internet.</p>
          <p>Conhecer essa língua é fundamental para alcançar o sucesso na carreira profissional ou simplesmente para aproveitar melhor aquela viagem dos sonhos!</p>
          <p>Disposto em 4 módulos (Inglês I, II, III e IV), o nosso curso está pronto para atender do iniciante ao avançado.</p>
  </div>
</div>
</div>
<!-- fim modulo -->

    </div>
    
  </div>
</div>
<!-- Fim Modal -->

      </div>
    </div>
  </div>
<!-- Fim Curso -->

<!-- Modal Departamento-->
<div class="modal fade" id="departamentoModal" tabindex="-1" aria-labelledby="departamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="departamentoModalLabel">Departamento Pessoal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="modal-body">
                <p>Desenvolva as habilidade pessoais necessárias para a sua carreira profissional decolar!</p>
                <p>Finanças, contratações, obrigações trabalhistas. Aprenda como funciona uma empresa "pelo lado de dentro"!</p>
            
            </div>
  
            <!--Inicio modulo -->
            <div class="container" style="padding:10px" id="deppessoal">
                <div class="row">
                    <div class="col-3 icons-div icons-div">
                        <img class="icons-modal img-fluid" src="static\home\modal\auxiliar.jpg" alt="Windows" >
                    </div>
                    <div class="col-9">
                        <h6>Departamento Pessoal</h6>
                        <p>Veja as principais tarefas envolvidas na rotina de um departamento pessoal. Saiba como elaborar contratos de trabalho e admissões de empregados.</p>
                        <p>Faça rescisões trabalhistas e veja como realizar corretamente os pagamentos de férias e 13º salário. Aprenda a cumprir com as principais obrigações trabalhistas e muito mais!</p>
                    </div>
                </div>
            </div>
        <!-- fim modulo -->
        </div>
    </div>
</div>





<!-- Modal Violao-->
<div class="modal fade" id="violaoModal" tabindex="-1" aria-labelledby="violaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="violaoModalLabel">Curso de Violão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="modal-body">
                Conviva um pouco mais de perto com essa arte fascinante!
                
            
            </div>
  
<!--Inicio modulo -->
<div class="container" style="padding:10px" id="deppessoal">
    <div class="row">
        <div class="col-3 icons-div icons-div">
            <img class="icons-modal img-fluid" src="static\home\modal\violao2.jpg" alt="Windows" >
        </div>
        <div class="col-9">
    <h6>Violão</h6>
    <p>Quem não gosta de uma boa música?</p>
          <p>Como é bom chegar em casa e ouvir canções que nos tirem da turbulência do dia. No carro, em casa e, algumas vezes, até no trabalho, a música nos acompanha.</p>
          <p>Aprenda a tocar o instrumento mais popular do mundo: o Violão!</p>
          <p>Descubra o talento que há em você! Método prático e dinâmico para que você aprenda a tocar as suas músicas favoritas e compor as suas próprias canções!</p>
  </div>
</div>
</div>
<!-- fim modulo -->


    </div>
    
  </div>
</div>
<!-- Fim Modal -->

      </div>
    </div>
  </div>
<!-- Fim Curso -->

