{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <link rel="icon" href="{% static 'logo2.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    
   

    


    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>


    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white py-3 mb-4 border-bottom fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="\" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="{% static 'logo.jpg' %}" alt="Logo" width="164" height="40">
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="#" class="nav-link px-2 ">Início</a></li>
            <li class="nav-item"><a href="#matricula" class="nav-link px-2">Cursos</a></li>
            <li class="nav-item"><a href="#sobre" class="nav-link px-2">Sobre nós</a></li>
            <li class="nav-item"><a href="#servicos" class="nav-link px-2">Serviços</a></li>
            <li class="nav-item"><a href="#contato" class="nav-link px-2">Contato</a></li>
          </ul>
          <div class="col-md-3 text-end">
            <a href="#matricula" class="btn btn-primary">Matricule-se</a>
          </div>


        </div>
      </div>
    </nav>
    
    {% block 'dashboard' %}
    {% endblock %}

    {% block 'body' %}
    {% endblock %}

     <!-- Footer -->
<footer name = "contato" id = "contato" class="text-center text-lg-start bg-body-tertiary text-muted ">

 

  

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="{% static 'logo2.png' %}" alt="Logo" width="20" height="20" style ="margin-right:10px;">Sis Cursos
          </h6>
          <p>
            Fundada em 1998, o SIS Cursos oferece os mais variados cursos de qualificação profissional e pessoal, serviços de atendimento ao cliente na área de informática.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Navegação
          </h6>
          <p><a href="#" class="text-footer">Início</a></p>
          <p><a href="#matricula" class="text-footer">Cursos</a></p>
          <p><a href="#sobre" class="text-footer">Sobre nós</a></p>
          <p><a href="#servicos" class="text-footer">Serviços</a>
          <p><a href="#contato" class="text-footer">Contato</a>
            <p><a href="#matricula" class="text-footer">Matricule-se</a>

          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Redes Sociais
          </h6>
          <p><a href="https://www.facebook.com/siscursos" style="text-decoration: none;" ><i class="fab fa-facebook-f me-3"></i>Facebook</a></p>
          <p><a href="https://www.instagram.com/siscursos" style="text-decoration: none;"><i class="fab fa-instagram me-3"></i>Instagram</a></p>
          <p><a href="https://www.linkedin.com/company/siscursos/" style="text-decoration: none;"><i class="fab fa-linkedin-in me-3"></i>LinkedIn</a></p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
          <p><a href="https://maps.app.goo.gl/RG6yQatwGSqU8YYGA" style="text-decoration: none;"><i class="link-footer fa-solid fa-location-dot me-3"></i>Jardim Brasilia</a></p>
          <p><a href="https://maps.app.goo.gl/hjTr7aBRsSfxgoor5" style="text-decoration: none;"><i class="fa-solid fa-location-dot me-3"></i>Centro</a></p>
          <p><a href="https://maps.app.goo.gl/HnqyNVHhQcmxGnes9" style="text-decoration: none;"><i class="fa-solid fa-location-dot me-3"></i>São Jorge</a></p>
          
          
          <p><a href="mailto:siscursos2016@gmail.com" style="text-decoration: none;"><i class="link-footer fab fa-google me-3"></i>siscursos2016@gmail.com</a></p>
          <p><a href="tel:+553432103324" style="text-decoration: none;" ><i class="fas fa-phone me-3"></i>34 32103324</a></p>
          <p><a href="https://api.whatsapp.com/send?phone=5534996302025&amp;text=Olá, gostaria de mais informações sobre cursos oferecidos." style="text-decoration: none;"><i class="fa-brands fa-whatsapp me-3"></i>34 9 96302025</a></p>
          
          
 
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

    © Copyright 2024
    <a class="text-reset fw-bold" href="https://www.linkedin.com/in/bruno-coelho-13009a207/">Bruno Coelho.</a>
    All rights reserved.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    
    <script src="{% static 'home/js/home.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  

  </body>
</html>
