{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Mapa de Horário{% endblock %}

{%block 'head' %}
    <link rel="stylesheet" href="{% static 'mapahorario/css/mapahorario.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% endblock %}

{% block 'dashboard' %}

<div class="container">


    
    <div class="row">
        <div onclick="exibir_form('1')" class="col-md card-dashboard">
            <p class="text-card">Sala Heliana</p>
        </div> 

        <div onclick="exibir_form('2')" class="col-md card-dashboard">
            <p class="text-card">Sala Poliana</p>
        </div> 
    </div>

    <div class="container" id="sala1">
        <table class="comicGreen">
    
        <tr>
            <td>Segunda-feira</td>
            <td></td>
            <td>Comp. 01</td>
            <td>Comp. 02</td>
            <td>Comp. 03</td>
            <td>Comp. 04</td>
            <td>Comp. 05</td>
            <td>Comp. 06</td>
            <td>Comp. 07</td>
            <td>Comp. 08</td>
            <td>Comp. 09</td>
            <td>Comp. 10</td>
            <td>Comp. 11</td>
        </tr>
        <tr>
            <td></td>
            <td>8:00</td>
            <td>Maria Eduarda</td>
            <td></td>
            <td></td>
            <td>Gessica</td>
            <td>Armandina</td>
            <td>Marilene</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>9:00</td>
            <td>Felipe</td>
            <td>Nathaly</td>
            <td></td>
            <td>Emanuely</td>
            <td>Nicolly</td>
            <td>Marilene</td>
            <td>Robert</td>
            <td>JOÃO GUILHERME</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>10:00</td>
            <td>Felipe</td>
            <td></td>
            <td>Davy</td>
            <td></td>
            <td></td>
            <td>Marilene</td>
            <td></td>
            <td>JOÃO GUILHERME</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>13:00</td>
            <td></td>
            <td>Libia</td>
            <td>Lauriane</td>
            <td>Gessica</td>
            <td></td>
            <td>Thaynara</td>
            <td>Paulo Roberto</td>
            <td>Marcella</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>14:00</td>
            <td>Luiz Felipe</td>
            <td>Guilherme Vaz</td>
            <td>Lauriane</td>
            <td>Matheus Paiva</td>
            <td>Lucas Lemos</td>
            <td>Thaynara</td>
            <td>Paulo Roberto</td>
            <td>Marcella</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>15:00</td>
            <td>Luiz Felipe</td>
            <td>Guilherme Vaz</td>
            <td>Alex Antonio</td>
            <td>Larissa</td>
            <td>Lucas Lemos</td>
            <td>Thaynara</td>
            <td>Vitor</td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>16:00</td>
            <td></td>
            <td>Marcela Peixoto</td>
            <td></td>
            <td>Larissa</td>
            <td></td>
            <td></td>
            <td>Vitor</td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>17:00</td>
            <td>Yara </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Terça-feira</td>
            <td>8:00</td>
            <td>Armandina</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Claudio (Rpd)</td>
            <td>Marilene (Rpd)</td>
            <td></td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>9:00</td>
            <td>Imad</td>
            <td>Nathaly</td>
            <td>Emilli</td>
            <td></td>
            <td>Claudio (Rpd)</td>
            <td>Marilene (Rpd)</td>
            <td>JOÃO GUILHERME</td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>10:00</td>
            <td>Davy</td>
            <td>Fermanda Oliveira</td>
            <td>Emilli</td>
            <td></td>
            <td>Claudio (Rpd)</td>
            <td>Marilene (Rpd)</td>
            <td>JOÃO GUILHERME</td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>13:00</td>
            <td>Eduarda</td>
            <td></td>
            <td></td>
            <td>Gessica</td>
            <td></td>
            <td>Isaque</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Paulo Roberto</td>
            <td>Isabel</td>
        </tr>
        <tr>
            <td></td>
            <td>14:00</td>
            <td>Josue</td>
            <td>Matheus Paiva</td>
            <td>Victor Hugo</td>
            <td></td>
            <td>GRAZIELLY</td>
            <td>Isaque</td>
            <td>Caio</td>
            <td>Stephany Camilli</td>
            <td>Gyovana</td>
            <td>Paulo Roberto</td>
            <td>Izabel</td>
        </tr>
        <tr>
            <td></td>
            <td>15:00</td>
            <td></td>
            <td></td>
            <td>Victor Hugo</td>
            <td></td>
            <td>GRAZIELLY</td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td>Stephany Camilli</td>
            <td>Gyovana</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>16:00</td>
            <td>Maria Eduarda</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Quarta-feira</td>
            <td>8:00</td>
            <td>Samuel</td>
            <td>Marilene (Rpd)</td>
            <td></td>
            <td>Maria Eduarda</td>
            <td>Claudio (Rpd)</td>
            <td>Armandina</td>
            <td></td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>9:00</td>
            <td>Nathaly</td>
            <td>Marilene (Rpd)</td>
            <td>Fernanda Nunes</td>
            <td></td>
            <td>Claudio (Rpd)</td>
            <td></td>
            <td>JOÃO GUILHERME</td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>10:00</td>
            <td>Davy</td>
            <td>Marilene (Rpd)</td>
            <td>Gabrielly Ferreira</td>
            <td>João Paulo</td>
            <td>Claudio (Rpd)</td>
            <td></td>
            <td>JOÃO GUILHERME</td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>13:00</td>
            <td></td>
            <td>Libia</td>
            <td>Gessica</td>
            <td>Paulo Roberto</td>
            <td></td>
            <td>Marcella 17//08</td>
            <td>Thaynara 10/08</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>14:00</td>
            <td>Gustavo Mendes</td>
            <td></td>
            <td>Marcelo Sobral</td>
            <td>Paulo Roberto</td>
            <td></td>
            <td>Marcella 17//08</td>
            <td>Thaynara 10/08</td>
            <td></td>
            <td>Victor</td>
            <td>Marcos</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>15:00</td>
            <td>Vitor Caetano</td>
            <td>MIKAELLY</td>
            <td>NICOLLY</td>
            <td>Erick Lucas</td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td>Thaynara 10/08</td>
            <td>Guilherme 17/08</td>
            <td>victor</td>
            <td>Marcos</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>16:00</td>
            <td>Vitor Caetano</td>
            <td>MIKAELLY</td>
            <td>NICOLLY</td>
            <td>Erick Lucas</td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td>Guilherme 17/08</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>17:00</td>
            <td></td>
            <td>Yara</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Quinta-feira</td>
            <td>8:00</td>
            <td>Armandina</td>
            <td>Marilene (Rpd)</td>
            <td></td>
            <td>Fernanda Nunes</td>
            <td>Claudio (Rpd)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>9:00</td>
            <td>Imad</td>
            <td>Marilene (Rpd)</td>
            <td>Robert </td>
            <td>Fernanda Nunes</td>
            <td>Claudio (Rpd)</td>
            <td></td>
            <td>JOÃO GUILHERME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>10:00</td>
            <td>Felipe</td>
            <td>Marilene (Rpd)</td>
            <td>Davy</td>
            <td>Fermanda Moreira</td>
            <td>Claudio (Rpd)</td>
            <td></td>
            <td>JOÃO GUILHERME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>        </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>13:00</td>
            <td>Fillipi</td>
            <td>Gessica</td>
            <td>Eduarda</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Paulo Roberto</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>14:00</td>
            <td>Fillipi</td>
            <td>Caio</td>
            <td>Gustavo Henrique</td>
            <td>Stephany Camilli</td>
            <td>Gustavo Pereira</td>
            <td>Josue</td>
            <td>Victor Oliveira</td>
            <td>Paulo Roberto</td>
            <td>Matheus Paiva</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>15:00</td>
            <td>Amanda</td>
            <td>Kayllie F.</td>
            <td>Gustavo Henrique</td>
            <td>Stephany Camilli</td>
            <td>Gustavo Pereira</td>
            <td>Alex Antonio</td>
            <td>Victor Oliveira</td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>16:00</td>
            <td>Amanda</td>
            <td>Kayllie F.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Sexta-feira</td>
            <td>8:00</td>
            <td>Samuel</td>
            <td>Marilene (Rpd)</td>
            <td>Armandina</td>
            <td></td>
            <td></td>
            <td>Fermanda Nunes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>9:00</td>
            <td>Samuel</td>
            <td>Marilene (Rpd)</td>
            <td>Emanuely</td>
            <td>Nicolly</td>
            <td></td>
            <td>Fermanda Nunes</td>
            <td>JOÃO GUILHERME</td>
            <td>GABRIEL DE PAULA</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>10:00</td>
            <td>Gabrielly Ferreira</td>
            <td>Marilene (Rpd)</td>
            <td>Joã Paulo</td>
            <td>Davy</td>
            <td>Elivan</td>
            <td></td>
            <td>JOÃO GUILHERME</td>
            <td>GABRIEL DE PAULA</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>13:00</td>
            <td>Gessica</td>
            <td>Rodrigo</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Paulo Roberto</td>
            <td></td>
            <td>Marcella  19/08</td>
            <td>Larissa</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>14:00</td>
            <td></td>
            <td>Rodrigo</td>
            <td>Marcelo Sobral</td>
            <td>Marcello</td>
            <td>João Victor</td>
            <td>Paulo Roberto</td>
            <td></td>
            <td>Marcella 19/08</td>
            <td>Larissa</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>15:00</td>
            <td>Marcela Peixoto19/08</td>
            <td>Vitor Caetano</td>
            <td></td>
            <td>Marcello</td>
            <td>João Victor</td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>16:00</td>
            <td>Marcela Peixoto</td>
            <td>Vitor Caetano</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ana Paula Santos (Rpd)</td>
            <td>Thayna Santos (Rpd)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>17:00</td>
            <td>Gabriella Souza</td>
            <td></td>
            <td>Gabrielly Ferreira</td>
            <td></td>
            <td>Mauricio 07/03</td>
            <td>maria eduarda 11/03</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ana Laura</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Sábado</td>
            <td>8:00</td>
            <td>Livia</td>
            <td>Marcela</td>
            <td>Marcos Antonio</td>
            <td>João Vitor</td>
            <td>Andressa Gabriela</td>
            <td>Kely Cristina</td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>9:00</td>
            <td>Livia</td>
            <td>Marcela</td>
            <td>Marcos Antonio</td>
            <td>João Vitor</td>
            <td>Andressa Gabriela</td>
            <td>Kely Cristina</td>
            <td>Elivan</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    

    </div>
    <div class="container" id="sala2">
        <table class="comicGreen">
        </table>
    </div>

    
</div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{% static 'mapahorario/js/mapahorario.js' %}"></script>

    
{% endblock%}


